<div *ngIf="groupDetails$ | async as group">
    <app-new-expense [visible]="newExpenseModalOpen" [members]="group.members" (closed)="newExpenseModalOpen = false"
        (created)="handleNewExpense($event)"></app-new-expense>
    <ng-container *ngIf="groupDebts$ | async as debts">
        <app-debs [debts]="debts" [visible]="showDebsModal" (closed)="showDebsModal = false"
            (simplifyDebts)="simplifyDebts()"></app-debs>
        <ng-container *ngIf="currentUserDebts$ | async as currentUserDebts">
            <app-settle-debs [visible]="settleDebtsModalOpen" [currentUserDebts]="currentUserDebts"
                (closed)="settleDebtsModalOpen = false" (submit)="payDebts($event)"></app-settle-debs>
        </ng-container>
    </ng-container>
    <div class="group-details-container">

        <!-- Layout principale -->
        <div class="group-body">
            <!-- Expenses Area -->
            <main class="expenses-area">
                <div class="group-topbar" style="margin-bottom: 30px;">
                    <button class="generic-button" (click)="goBack()">← Go Back</button>
                    <div style="display: flex; justify-content: center; flex: 1;">
                        <img src="assets/report.png" alt="report-img" style="height: 35px;" />
                        <h1 class="group-title">{{ group.name }}</h1>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 15px;">
                    <h2>Expenses</h2>
                    <div style="display: flex; justify-content: flex-end; flex: 1; gap: 8px;">
                        <button class="generic-button" (click)="newExpenseModalOpen = true">Add Expense</button>
                        <button *ngIf="showSettleDebtsButton$ | async"  class="generic-button settle-debt-btn" (click)="settleDebtsModalOpen = true">Settle
                            debt</button>
                    </div>
                </div>
                <div *ngIf="group.expenses?.length === 0" class="placeholder">
                    No expenses yet.
                </div>
                <div *ngFor="let entry of groupActivity$ | async">
                    <!-- EXPENSE CARD -->
                    <div *ngIf="entry.type === 'expense'" class="activity-card expense-card">
                        <div class="card-header">
                            <div class="card-icon">🧾</div>
                            <div class="card-info">
                                <h3>{{ entry.description }}</h3>
                                <div class="card-date">
                                    {{ Number(entry.timestamp) * 1000 | date: 'medium' }}
                                </div>
                            </div>
                            <div class="card-amount">
                                {{ entry.amount | formatBase18 }}
                            </div>
                        </div>

                        <div class="card-meta">
                            <p>Paid by <strong>{{ entry.paidBy }}</strong></p>
                            <p>Split with:</p>
                            <ul>
                                <li *ngFor="let s of entry.shares">
                                    {{ s.participant }} owes <strong>{{ s.amount | formatBase18 }}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- SETTLEMENT CARD -->
                    <div *ngIf="entry.type === 'settlement'" class="activity-card settlement-card">
                        <div class="card-header">
                            <div class="card-info">
                                <div class="card-date">
                                    {{ entry.timestamp * 1000 | date: 'medium' }}
                                </div>
                            </div>
                        </div>

                        <div class="card-meta" style="display: flex; align-items: center;">
                            <img src="assets/TT_token.png" style="height: 50px;" />
                            <p><strong>{{ entry.from }}</strong> has settled <strong>{{ entry.amount | formatBase18:'TT'
                                    }}</strong> to <strong>{{ entry.to }}</strong></p>
                        </div>
                    </div>
                </div>


            </main>

            <!-- Sidebar -->
            <aside class="sidebar">
                <!-- Balances -->
                <section class="balances">
                    <div style="display: flex; align-items: center; margin-bottom: 15px; gap: 5px;">
                        <h3>Group Balances</h3>
                        <div style="display: flex; justify-content: flex-end; flex: 1;">
                            <button class="generic-button" (click)="showDebtsModal(group.id)">See debs</button>
                        </div>
                    </div>
                    <ul>
                        <li *ngFor="let b of group.balances">
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <img src="assets/account.png" alt="account-img" style="width: 25px; height: 25px;" />
                                <div style="display: flex; flex-direction: column;">
                                    <div class="address" style="flex: 1;">{{ b.member }}</div>
                                    <div *ngIf="isPositive(b.amount)" class="positive" style="margin-left: 10px;">
                                        Should receive {{ b.amount | formatBase18 }}
                                    </div>
                                    <div *ngIf="isNegative(b.amount)" class="negative" style="margin-left: 10px;">
                                        Should pay {{ b.amount | formatBase18 }}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>

                <!-- Join Requests -->
                <section class="join-requests" *ngIf="group.requestsToJoin?.length || 0 > 0">
                    <app-pending-join-req [pendingAddress]="group.requestsToJoin"
                        (approve)="approveJoinRequest($event)"></app-pending-join-req>
                </section>
            </aside>
        </div>
    </div>

</div>